# Firebase Admin SDK
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY_ID=your-key-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your-client-id
FIREBASE_STORAGE_BUCKET=your-project.appspot.com

# Admin Panel
ADMIN_PASSWORD=changeme_supersecret

# Session Secret
SESSION_SECRET=changeme_session_secret_long_string

# App
PORT=3000
NODE_ENV=development
SITE_URL=https://meesamgardezi.com
